{% extends 'base.html' %}
{% block title %}
  Password Change
{% endblock %}
{% block content %}
  <section>
    <div class="container">
      <div class="main">
        <div class="heading">
          <h1>Reset your password<</h1>
        </div>
      </div>

      <div class="main">
        <div class="form">
          {% if validlink %}
            <form method="post">
              {% csrf_token %}
              <p>Please enter your new password twice:</p>
              {{ form.as_p }}
              <p>
                <input type="submit" value="Change my password" />
              </p>
              {% else %}
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
