section{
    background-color: var(--c-zero);
    padding: 1rem 8rem;
}

.blog_list {
    padding-block: 12px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.blog_card{
    width: 540px;
    background: linear-gradient(0deg , #2c7085c5,#721146d2) ;
    border-radius: 8px;
}

.blog_card > div > img{
    width: 	100%;
    aspect-ratio: 16/9;
    border-radius: 9px;
}

.blog_card>div:last-child{
    padding: 1rem;
    p{
        font-size: 1.2rem;
    }
}

.blog_card >div> a{
    color: var(--c-three);
    font-size: 24px;
    text-decoration: none;
}

.blog_card >div> p{
    color: var(--c-four);
}

.access-link a button {
    background-color: var(--c-three);
    border: 1px solid var(--c-four);
    color: var(--c-four);
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    margin-bottom: 16px;
}

.access-link a button:hover {
    background-color: var(--c-three);
    transition: background-color 200ms ease;
}

@media screen and (max-width: 786px) {
    section{
        background-color: var(--c-zero);
        padding: 0.4rem ;
    }

    .blog_content p {
        font-size: 14px;
    }

    .img_container img{
        max-width: 100%;
        float: none;
    }
}