@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --c-zero:#212121bb;
    --c-one:#211951bd;
    --c-two:#836FFFbb;
    --c-three:#15f5b9bb;
    --c-four:#fff8ffff;
}

.img_container{
    margin-block: 1rem;
}

.img_container img{
    max-width: 60%;
    border-radius: 1rem;
    float: right;
}

.created_at{
    float: right;
    font-family: monospace !important;
    font-style: italic !important;
    font-size: 15px !important;
}

.created_by{
    float: right !important;
    color: var(--c-three) !important;
}

.heading {
    position: relative;
    margin-block: 2rem;
    border: 2px solid var(--c-four);
    border-radius: 8px;
    background-color: var(--c-three);
    padding: 12px 18px;
}

.heading h1{
    color: var(--c-four);
    text-transform: uppercase;
}


.main form p {
    color: var(--c-four);
}

.chekbox{
    float:right;
}

.main form p label {
    font-size: 32px;
    margin-block: 12px;
    color: var(--c-two);
    font-weight: bold;
}

.chk , .change-banner{
    color: var(--c-four);
    font-size: 18px;
    font-weight: bold;
}

.chk > a{
    color: var(--c-three);
    font-weight: 100;
}


.main form p input,
textarea,.change-banner input {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 6px 10px;
    background: transparent;
    background-color: #ffffff1f;
    border: 0;
    border-bottom: 2px solid var(--c-three);
    caret-color: var(--c-three);
    color: var(--c-four);
}

.main form p input,
textarea:focus {
    border: 0;
    border-bottom: 1px solid var(--c-three);
    outline: none;
}

.main form button {
    font-family: Verdana;
    font-size: 16px;
    padding: 0.7rem 2.7rem;
    border-radius: 0.4em;
    overflow: hidden;
    line-height: 1em;
    border: 1px solid var(--c-three);
    color: var(--c-three);
}

.main form button:hover {
    color: var(--c-one);
}



.blog_content {
    margin-block: 16px;
    background-color: var(--c-two);
    padding: 8px 12px;
    border-radius: 6px;
}

.blog_content p {
    color: var(--c-four);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}


/* All forms  */
.form {
    border: 1px solid var(--c-three);
    border-radius: 6px;
    background-color:var(--c-three);
    padding: 16px 12px;
}

.form-group {
    margin-block: 12px;
}

.form-group input {
    width: 100%;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid var(--c-two);
}

.form-group input:focus {
    outline: none;
}

.form-group label {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    display: block;
}


.alert {
    width: 100%;
    height: auto;
    padding: 16px 8px;
    text-align: center;
    background-color: var(--c-one);
    color: var(--c-four);
}

/* bottom links */

.access-link a button {
    background-color: var(--c-three);
    border: 1px solid var(--c-four);
    color: var(--c-four);
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 16px;
    margin-bottom: 16px;
}

.access-link a button:hover {
    background-color: var(--c-three);
    transition: background-color 200ms ease;
}

@media screen and (max-width: 786px) {

    .blog_content p {
        font-size: 14px;
    }

    .img_container img{
        max-width: 100%;
        float: none;
    }
}