.share_form {
    background-color: rgb(102, 138, 126);
    margin: 16px;
    padding: 16px;
    border-radius: 8px;

}

.share_form div {
    margin-bottom: 1rem;
}

.share_form div label {
    display: block;
    color: white;
    font-size: 26px;
    margin-bottom: 4px;
}

.share_form div input {
    display: block;
    width: 100%;
    padding: 6px 8px;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.share_form div textarea {
    display: block;
    width: 100%;
    padding: 6px 8px;
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 5px;
}

.share_form input[type=submit] {
    --green: #008839;
    font-size: 16px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    border-radius: 0.4em;
    overflow: hidden;
    line-height: 1em;
    border: 1px solid var(--green);
    color: var(--green);
}

.share_form input[type=submit]:hover {
    color: #000000;
}