{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}

{% block content %}
<section>
  <div class="container">
        <div class="main">
    <div class="heading">
      <h1>Recent posts</h1>
    </div>
    <div class="blog_list">
      {% for post in posts %}
        <div class="blog_card">
          <div>
            <img src="{{ post.banner.url }}" alt="post image">
          </div>
          <div>
            <a href="{% url 'post_detail' post.pk %}">{{ post.title | truncatewords:10 }}</a>
            <hr>
            <p>{{post.content|truncatewords:40}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="access-link">
      <a href="{% url 'post_create' %}"><button>New post <i class="bi bi-plus"></i></button></a>
    </div>
  </div>
  </div>

</section>

{% endblock %}
