{% extends 'base.html' %}
{% block title %}
  Edit Post
{% endblock %}
{% block content %}
<section>
  <div class="container">
  <div class="main">
    <div class="heading">
      <h1>Edit Post</h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
          <label for="{{ form.banner.id_for_label }}">Banner:</label>
          <br>
          <div class="chk">
          Currently: 
          {% if form.banner.value %}
            <a href="{{ form.banner.value.url }}">{{ form.banner.value.name }}</a>
            <div class="chekbox">
              <input type="checkbox" name="banner-clear" id="banner-clear_id">
              <label for="banner-clear_id">Clear</label><br>
            </div>
          </div>
          {% endif %}
          <br>
          <div class="change-banner">
              Change:
              <input type="file" name="{{ form.banner.name }}" accept="image/*" id="{{ form.banner.id_for_label }}">
          </div>
        </p>
        <p>
            <label for="{{ form.title.id_for_label }}">Title:</label>
            <input type="text" name="{{ form.title.name }}" value="{{ form.title.value }}" placeholder="Enter your name here..." maxlength="100" required id="{{ form.title.id_for_label }}">
        </p>
        <p>
            <label for="{{ form.content.id_for_label }}">Content:</label>
            <textarea name="{{ form.content.name }}" cols="40" rows="12" placeholder="Enter your text here..." required id="{{ form.content.id_for_label }}">{{ form.content.value }}</textarea>
        </p>
        <button type="submit">Done</button>
    </form>
  </div>
  </div>
</section>
{% endblock %}
