{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      MB Blog |{% block title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block link %}  {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="brand">
        <h1><span style="color: red;">M</span><span style="color: greenyellow;">B</span> Blog</h1>
      </div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navlist">
        <li>
          <a href="/">Home</a>
        </li>
        {% if request.user.is_authenticated %}
          <li>{{ request.user.first_name|default:request.user.username|title }}</li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          <li>
            <a href="{% url 'changepassword' %}">changepassword</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </div>
    </nav>

    {% for msg in messages %}
      <div class="alert" style="font-size: 16px;">
        {{ msg }}
        <button style="border:0;" type="button" class="close" onclick="return this.parentNode.remove();"><span><i class="bi bi-x-lg"></i></span></button>
      </div>
    {% endfor %}

    {% block content %}
      {% comment %}contents are extended here{% endcomment %}
    {% endblock %}

    <!-- JS -->
    <script src="{% static 'base.js' %}"></script>
  </body>
</html>
